/* app css stylesheet */
body {
    padding-top: 20px;
    /*подгружаем картинку для страницы*/
    background-image: url(vesna.jpg);
}

/*вставка scrollbars*/
.scroll {
    border: 1px solid gray;
    overflow: scroll;
    /*viewport height (vh) and viewport width (vw):*/
    width: 30vw;
    height:70vh;
    background-color: white;
   }

.input-group{
    width: 47vw;
    padding-left: 18vw;
}

/*выравнивание положения кнопок*/
.btn-group{
    left:46%;
}

#btnB1,#btnB2 {
    border: 1px solid gray;
    color: green ;
}



